<!DOCTYPE html>
<html ng-app="madLibsApp">
<head>
  <title>Mad Libs</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js">
  </script>
  <script src="madlibs.js">
  </script>
<body ng-controller="madLibsCtrl">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="http://www.nthsweb.net/millerg/madlib/madlib.png" width="400px">
  </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <form ng-submit="postWords()">
        <h3>enter a boys name
          <span>
            <input type="text" ng-model="words.boyName">
          </span>
        </h3>
        <h3>enter an adjetive
          <span>
            <input type="text" ng-model="words.adjetive">
          </span>
        </h3>
        <h3>enter a plural noun
          <span>
            <input type="text" ng-model="words.pluralNoun1">
          </span>
        </h3>
        <h3>enter an insect
          <span>
            <input type="text" ng-model="words.insect">
          </span>
        </h3>
        <h3>enter a plural noun
          <span>
            <input type="text" ng-model="words.pluralNoun2">
          </span>
        </h3>
        <h3>enter a verb ending in "s"
          <span>
            <input type="text" ng-model="words.verbInS">
          </span>
        </h3>
        <input type="submit" ng-click="update()" value="Submit">
      </form>
      <div class="jumbotron">
        <h4> View as JSON </h4>
        <pre>master = {{master | json}}</pre>
        <h4> View as Key Value Pair</h4>
        <pre>master.boyname = {{master.boyName}}</pre>
      </div>
      <div class="jumbotron">
        <h3>I'm in love with <span>{{master.boyName}}</span>. He's so <span>{{master.adjetive}}</span>! He has big flat <span>{{master.pluralNoun1}}</span>,
        and when our <span>{{master.pluralNoun2}}</span> meet, I get <span>{{master.insect}}</span> in my stomach. I've fallen for him like a ton of <span>{{master.verbInS}}</span>, and he shuffles for me, too. But I think he's got another girlfriend. What should I do?</h3>
      </div>
    </div>
  </div>
</body>
</html>
